import {
  to = proxmox_virtual_environment_vm.vm["k8s-cp1"]
  id = "PROXMOX_NODE_NAME/210"
}

import {
  to = proxmox_virtual_environment_vm.vm["k8s-cp2"]
  id = "PROXMOX_NODE_NAME/211"
}

import {
  to = proxmox_virtual_environment_vm.vm["k8s-cp3"]
  id = "PROXMOX_NODE_NAME/212"
}

import {
  to = proxmox_virtual_environment_vm.vm["k8s-w1"]
  id = "PROXMOX_NODE_NAME/220"
}

import {
  to = proxmox_virtual_environment_vm.vm["k8s-w2"]
  id = "PROXMOX_NODE_NAME/221"
}

import {
  to = proxmox_virtual_environment_vm.vm["k8s-w3"]
  id = "PROXMOX_NODE_NAME/222"
}

import {
  to = proxmox_virtual_environment_vm.vm["k8s-sys1"]
  id = "PROXMOX_NODE_NAME/223"
}

import {
  to = proxmox_virtual_environment_vm.vm["bastion"]
  id = "PROXMOX_NODE_NAME/230"
}
