aws_region           = "ap-northeast-2"
name_prefix          = "hybrid-edge"
vpc_cidr             = "10.20.0.0/16"
public_subnet_a_cidr = "10.20.1.0/24"
public_subnet_c_cidr = "10.20.2.0/24"
az_a                 = "ap-northeast-2a"
az_c                 = "ap-northeast-2c"
admin_cidr           = "x.x.x.x/32"

# 비워두면 Terraform이 리전의 최신 AL2023 AMI를 자동 조회
haproxy_ami_id        = ""
haproxy_instance_type = "t3.small"
key_name              = "kp-haproxy-edge"

# 팀2 실측 예시 (on-prem edge-haproxy)
onprem_edge_backends = ["172.16.22.10:443", "172.16.22.11:443"]

# 경로 A: AWS Site-to-Site VPN (정석)
create_site_to_site_vpn    = true
customer_gateway_public_ip = "125.131.208.229" # 온프레미스 인터넷 출구 공인 IP
customer_gateway_bgp_asn   = 65000
onprem_cidr                = "172.16.0.0/12"
vpn_static_routes_only     = true

# Route 53 및 도메인 설정
create_route53_zone         = true
domain_name                 = "sjkim686.store"
create_route53_alias_record = true
app_fqdn                    = "sjkim686.store" # 방식 B (Host Rewrite) 적용 시 루트 도메인 사용
